<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') -%>
    <link rel="stylesheet" href="/stylesheets/companies.css">
    <title>Companies</title>
</head>
<body>

    <%- include('../partials/header', {title: "Companies"}) -%>

    

    



    <%- include('../partials/footer') -%>
    <%- include('../partials/jsSrcs') -%>
</body>
</html>